* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #666;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #bbb;
	width: fit-content;
	border-radius: 16px;
	margin: auto;
	overflow: hidden;
}

.menu {
	background-color: #ddd;
	color: #111;
	width: 190px;
	min-height: 600px;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu .logo {
	margin-top: -15px;
	width: 100%;
	height: 65px;
}

.menu .logo img {
	width: 130%;
	height: 100%;
}

.menu-items {
	font-size: 1.1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
	padding: 20px 0;
}

.menu-item {
	gap: 5px;
	display: flex;
	align-items: center;
	padding: 7px 12px;
	border-radius: 8px;
	cursor: pointer;
}

.menu-item:hover {
	background-color: #111;
	color: #ddd;
}

.menu-login .user {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	padding: 5px 0px;
	cursor: pointer;
}

.menu-login .user-profession {
	display: inline;
	font-size: 0.7rem;
	text-transform: uppercase;
	padding: 2px 4px;
	border-radius: 3px;
	background-color: #ddd;
}

.menu-login img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.menu .setting {
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
	cursor: pointer;
}

.setting div {
	display: flex;
	align-items: center;
	gap: 8px;
}

.dashboard {
	color: #111;
	width: 55%;
	width: 600px;
	padding: 20px;
}

.dashboard .logo {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	gap: 6px;
	margin-left: 15px;
}

.dashboard .first {
	display: flex;
	background-color: #ddd;
	border-radius: 16px;
	margin: 20px 10px;
	height: 250px;
}

.dashboard .first .left {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px 20px;
	max-width: 65%;
}

.dashboard .first .left h1 {
	text-transform: uppercase;
	font-size: 1.9rem;
	line-height: 1.2;
}

.btn-box {
	display: flex;
	gap: 20px;
}

.btn-box button {
	display: flex;
	align-items: center;
	background-color: #ddd;
	gap: 5px;
	color: #111;
	border: 1px solid #333;
	padding: 2px 8px;
	border-radius: 8px;
}

.btn-box button:hover,
.btn-job {
	background-color: #111;
	color: #ddd;
}

.dashboard .first .img-box {
	width: 30%;
	position: relative;
}

.dashboard .first img {
	width: 145%;
	position: absolute;
	left: -45px;
	bottom: 0;
}

.dashboard .second {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	height: 130px;
}

.dashboard .second div {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 45%;
	border-radius: 16px;
	background-color: #ddd;
	padding: 10px 20px;
}

.dashboard .second h3 {
	font-size: 1.2rem;
}

.dashboard .second a {
	display: flex;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.dashboard .third {
	background-color: #ddd;
	padding: 20px;
	color: #111;
	border-radius: 16px;
	margin: 20px 10px;
	height: 100px;
}

.dashboard .third h3 {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.dashboard .third p {
	color: #333;
}

.dashboard .third img {
	float: right;
	width: 110px;
	border-radius: 30px;
	margin-right: 50px;
	height: auto;
}