* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: #bbb;
  width: fit-content;
  border-radius: 16px;
  margin: 10px auto;
  overflow: auto;
}
.main .menu {
  background-color: #ddd;
  color: #111;
  width: 190px;
  min-height: 600px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .menu .logo {
  margin-top: -15px;
  width: 100%;
  height: 65px;
}
.main .menu .logo img {
  width: 130%;
  height: 100%;
}
.main .menu .menu-items {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
.main .menu .menu-items .menu-item {
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 7px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.main .menu .menu-items .menu-item:hover {
  background-color: #111;
  color: #ddd;
}
.main .menu .menu-login .user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
  cursor: pointer;
}
.main .menu .menu-login .user img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.main .menu .menu-login .user-profession {
  display: inline;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #ddd;
}
.main .menu .setting {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  cursor: pointer;
}
.main .menu .setting div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main .dashboard {
  color: #111;
  width: 55%;
  width: 600px;
  padding: 20px;
}
.main .dashboard .logo {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 15px;
}
.main .dashboard .first {
  display: flex;
  background-color: #ddd;
  border-radius: 16px;
  margin: 20px 10px;
  height: 250px;
}
.main .dashboard .first .img-box {
  width: 30%;
  position: relative;
}
.main .dashboard .first img {
  width: 145%;
  position: absolute;
  left: -45px;
  bottom: 15px;
  user-select: none;
}
.main .dashboard .first .left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 20px;
  max-width: 65%;
}
.main .dashboard .first .left h1 {
  text-transform: uppercase;
  font-size: 1.9rem;
  line-height: 1.2;
}
.main .dashboard .second {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  height: 130px;
}
.main .dashboard .second div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 45%;
  border-radius: 16px;
  background-color: #ddd;
  padding: 10px 20px;
}
.main .dashboard .second h3 {
  font-size: 1.2rem;
}
.main .dashboard .second a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #333;
}
.main .dashboard .third {
  background-color: #ddd;
  padding: 20px;
  color: #111;
  border-radius: 16px;
  margin: 20px 10px;
  height: 100px;
}
.main .dashboard .third h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.main .dashboard .third p {
  color: #333;
}
.main .dashboard .third img {
  float: right;
  width: 110px;
  border-radius: 30px;
  margin-right: 50px;
  height: auto;
}
.main .sidebar {
  background-color: #bbb;
  color: #111;
  width: 320px;
  padding: 20px 20px 0px;
}
.main .sidebar .first {
  display: flex;
  justify-content: space-around;
}
.main .sidebar .first input {
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}
.main .sidebar .first input:focus {
  outline: 2px solid #555;
}
.main .sidebar .first .btn-job, .main .sidebar .first .btn-box button:hover, .btn-box .main .sidebar .first button:hover {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #111;
  color: #ddd;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
}
.main .sidebar .second {
  height: 130px;
  display: flex;
  border-radius: 16px;
  margin: 20px 0;
  background-color: #ddd;
  padding: 10px 20px;
}
.main .sidebar .second .left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main .sidebar .second .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
}
.main .sidebar .second .right .progress {
  border: 12px solid #ccc;
  border-top: 12px solid rgb(19, 118, 19);
  border-left: 12px solid green;
  border-bottom: 12px solid green;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.1rem;
}
.main .sidebar .second p {
  color: #444;
}
.main .sidebar .second .activity-score {
  font-size: 1.1rem;
  font-weight: 500;
  color: #111;
}
.main .sidebar .third {
  background-color: #ddd;
  border-radius: 16px;
  margin: 20px 0;
  padding: 10px 12px;
}
.main .sidebar .third .users .user {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
}
.main .sidebar .third .users img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .sidebar .third .users .user-name {
  font-weight: 500;
}
.main .sidebar .third .users .user-profession {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #ddd;
}
.main .sidebar .third .users .user-profession span {
  font-size: 1rem;
  padding: 0 5px;
  color: green;
}
.main .sidebar .third .user-btn {
  background-color: #ddd;
  color: #111;
  border: 1px solid #333;
  border-radius: 8px;
  text-align: center;
  width: 94%;
  margin: 5px 3%;
  padding: 6px;
}
.main .sidebar .third .user-btn:hover {
  background-color: #111;
  color: #ddd;
}
.main .sidebar .fourth {
  background-color: #0b7166;
  color: #ecffff;
  border-radius: 16px;
  margin: 20px 0;
  padding: 10px 20px;
}
.main .sidebar .fourth h3 {
  text-transform: uppercase;
}
.main .sidebar .fourth p {
  color: #ddd;
  font-size: 0.9rem;
  padding: 5px 0;
  margin-bottom: 12px;
}
.main .sidebar .fourth a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: fit-content;
  background-color: #febf4c;
  color: #111;
  padding: 2px 16px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-job, .btn-box button:hover {
  background-color: #111;
  color: #ddd;
}

.btn-box {
  display: flex;
  gap: 20px;
}
.btn-box button {
  display: flex;
  align-items: center;
  background-color: #ddd;
  gap: 5px;
  color: #111;
  border: 1px solid #333;
  padding: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
